/*
 * Estilos reutilizables
 */
 @media  (min-width:0px) and ( max-width:710px) {
    .indice {
        display: flex;
        flex-direction: column;
        align-items: center;
        float: left;
        margin-top: 5px;
        /* display: none; */
    }
    #boostrap{
        display: flex;
        /* text-align: center; */
        /* justify-content:center; */
        width: 200px;
    }
    #seccion-1{
        padding-top: 180px;
    }
    
}